#root {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    text-align: center;
}

h1 {
    font-size: 3em;
    line-height: 1;
}

.text-link {
    color: #646cff;
    text-decoration: none;
}

.text-link:hover {
    color: #535bf2;
    text-decoration: underline;
}

.container {
    padding: 2rem;
}

nav ul {
    background-color: #2a2a2a;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    padding: 2rem;
    gap: 100px;
}

footer {
    background-color: #2a2a2a;
    margin-top: auto;
    text-align: center;
    padding: 1rem;
}

/* formularza logowania i odzyskiwanie hasła */

.login-container {
    width: 40rem;
    margin: 2rem auto;
    padding: 2rem;
    background-color: #2a2a2a;
    border-radius: 14px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1.5rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 0.5rem;
}

.input-group label {
    color: #e0e0e0;
}

.input-group input {
    padding: 1rem;
    border: 2px solid gray;
    font-size: 1rem;
    border-radius: 4px;
    background-color: #1a1a1a;
    color: white;
}

.input-group input:focus {
    outline: none;
    border-color: #646cff;
}

.login-button {
    background-color: #646cff;
    color: white;
    padding: 0.8rem;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    margin-top: 0.5rem;
}

.login-button:hover {
    background-color: #535bf2;
}

/* Odzyskiwania hasła */

.forgot-password-link {
    text-align: right;
}

.back-to-login {
    margin-top: 1.5rem;
    text-align: right;
}

.recovery-text {
    color: #b0b0b0;
}

/* przycisk do zmiany motywu */

.theme-toggle-btn {
    background-color: #646cff;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 16px;
    cursor: pointer;
    font-weight: bold;
}

.theme-toggle-btn:hover {
    background-color: #535bf2;
}

/* Przycisk wyloguj */
.logout-btn {
    padding: 10px 20px;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}